<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="./style.css" rel="stylesheet" id="bootstrap-css">

  <!------ Include the above in your HEAD tag ---------->
</head>

<body>

  <form>
    <label>
      <p class="label-txt">ENTER YOUR PHONE NUMBER</p>
      <br>
      <input type="text" class="input">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <button type="submit">submit</button>
  </form>

</body>

</html>